<p>
    <mat-toolbar color="primary">
      <span>Health Monitoring Dashboard</span>
    </mat-toolbar>
  </p>


<mat-tab-group preserveContent>
    <mat-tab label="UAT">
        <app-health-info environment="UAT"></app-health-info>
    </mat-tab>
    <mat-tab label="PPD">
        <app-health-info environment="PPD"></app-health-info>
    </mat-tab>
    <mat-tab label="PRD">
        <app-health-info environment="PRD"></app-health-info>
    </mat-tab>
</mat-tab-group>

<router-outlet></router-outlet>
